In [1]:
import pandas as pd 

import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

import numpy as np
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout

WARNING:tensorflow:From C:\Users\theri\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [31]:
def scalitttt(data): # Scaling the data
    scaled_data = MinMaxScaler(feature_range=(0,1)).fit_transform(data['target'].values.reshape(-1,1))
    return scaled_data

In [ ]:
def not_bunny(data): # Not bunny model is the normal LSTM model
    # Split the data into training and testing
    train_size = int(len(data) * 0.8)
    test_size = len(data) - train_size
    
    train, test = data[0:train_size, :], data[train_size:len(data), :]
    
    # Building the model
    pred_days = 60 # number of days that I wanna look back to predict the next day
    X_train, y_train = [], []
    
    for x in range(pred_days, len(train)):
        X_train.append(train[x-pred_days:x, 0])
        y_train.append(train[x, 0])

In [25]:
data = pd.read_csv('stock_data.csv')
data = data.set_index(['Date', 'Ticker'])
data

                    Adj Close       Close        High         Low        Open  \
Date       Ticker
2016-02-02 AAPL     21.503487   23.620001   24.010000   23.570000   23.855000
           AMD       1.990000    1.990000    2.140000    1.960000    2.110000
           AMZN     27.605000   27.605000   28.577999   27.504499   28.500000
           CRM      64.519997   64.519997   67.750000   64.160004   67.650002
           GOOGL    39.045502   39.045502   40.517502   39.029999   40.025002
...                       ...         ...         ...         ...         ...
2024-02-01 INTC     43.360001   43.360001   43.570000   42.490002   43.150002
           META    394.779999  394.779999  400.500000  393.049988  393.940002
           MSFT    403.779999  403.779999  408.000000  401.799988  401.829987
           NVDA    630.270020  630.270020  631.909973  616.500000  621.000000
           TSLA    188.860001  188.860001  189.880005  184.279999  188.500000

                      Volume
Date       Ticker
2016-02-02 AAPL    149428800
           AMD      11224100
           AMZN    126240000
           CRM       7636900
           GOOGL   135846000
...                      ...
2024-02-01 INTC     38819900
           META     29727100
           MSFT     30657700
           NVDA     36914600
           TSLA     91843300

[20140 rows x 6 columns]

In [26]:
ticker_list = ['MSFT', 'AAPL', 'GOOGL', 'AMZN', 'META', 'TSLA', 'NVDA', 'AMD', 'CRM', 'INTC']

In [27]:
del data['Volume']